.tableContainer {
  background-color: rgba(141, 174, 231, .6);
  border-radius: 12px;
  height: fit-content;
  min-height: 100%;
}

.tableContainer .warningText {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  width: 100%;
}

.tableContainer .tableHeaderContainer {
  background-color: #8EAFE7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 8px;
  height: 45px;
  width: 100%;
}

.tableHeaderContainer .tHeaderItem { font-weight: 600; }

.tableHeaderContainer .tHeaderItem,
.tBodyRowContainer .tBodyItem {
  flex: 1;
  margin-right: 8px;
}
.tableHeaderContainer .tHeaderItem:last-of-type,
.tBodyRowContainer .tBodyItem { margin-right: 0; }

.tableContainer .tBodyRowContainer {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 45px;
}

.tBodyRowContainer .tBodyItem {
  font-size: 13px;
  font-weight: 400;
}