.appContainer {
  background-color: #f2f5f9;
  color: #444;
  border-radius: 12px;
  padding: 12px 0;
  height: 405px;
  width: 805px;
}

.appContainer .sectionContainer {
  padding: 12px;
  padding-right: 6px;
  padding-bottom: 0;
  height: calc(100% - 40px);
}

.sectionContainer .sectionScrollContainer {
  overflow-y: auto;
  border-radius: 12px;
  padding-right: 6px;
  height: 100%;
}

.sectionScrollContainer::-webkit-scrollbar { width: 6px; }
.sectionScrollContainer::-webkit-scrollbar-track { background-color: transparent; }
.sectionScrollContainer::-webkit-scrollbar-thumb {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}