.formContainer {
  background-color: #E0E0E0;
  flex-direction: column;
  padding: 12px;
  height: 100%;
}

.formContainer .formActionContainer {
  justify-content: flex-end;
  margin-top: auto;
  height: 50px;
}

.formActionContainer .btnContainer {
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: .85rem;
  font-weight: 500;
  margin-left: 12px;
  height: 100%;
  width: 120px;
}

.formActionContainer .btnCancel {
  background-image: linear-gradient(180deg, rgba(237, 106, 90, 0.75) 32.86%, rgba(68, 68, 68, 0.75) 100%);
  color: #fff;
}

.formActionContainer .btnConfirm {
  background-image: linear-gradient(180deg, rgba(111, 138, 183, 0.75) 28.57%, rgba(131, 219, 197, 0.75) 100%);
  color: #fff;
}